@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";


:root {
    --elements: hsl(0, 100%, 100%);
    --bg: hsl(0, 0%, 99%);
    --text: hsl(207, 26%, 17%);
    --input: hsl(0, 0%, 50%);
    
}
 
  :root[data-theme='dark'] {
    --elements: hsl(209, 23%, 22%);
    --bg: hsl(207, 26%, 17%);
    --text: hsl(0, 100%, 100%);
    --input: hsl(0, 100%, 100%);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }

@theme{
  --text:var(--text)
}




body{
  background-color: var(--bg);
  color: var(--text);
  font-family: "Nunito Sans", sans-serif;
}